/* パソコン画面 */

@media(min-width:670px){
  /* 共通 */
.container{
  padding:0 54px;
}
  .sp{
    display:none;
  }
  .pc{
    display:block;
  }


/* ヘッダー */
  header{
    height:270px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  h1{
    padding-top:0;
    font-size:30px;
  }
  nav ul{
    width:300px;
    font-size:14px;
  }

  #mainvisual{
    height:420px;
    background-image:url(../img/mv-pc.jpg);
    background-position:center;
  }

  /* About */
  h3{
    margin-bottom:20px;
  }
  dt,dd{
    font-size:14px;
  }
  .about-right{
    margin-left:100px;
  }
  

  /* Skill */
  .skill-wrap{
    display:flex;
    justify-content: space-between;
  }
  .skill-box{
    width:32%;
  }
  .skill-box p{
    padding:0 10px;
  }
  
  
  

  /* Works */
  .works-wrap{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .works-box{
    width:32%;
  }


/*WorksのWordPressのリンク先*/


.portfolio-img img{
  max-width: 60%;
  margin:50px 0;
}


}